//<BUTTONS (a.btn+tab)>
// Snippet (HTML): btn

.button {
    border: 1px solid $indigo;
    border-radius: 6px;
    font-weight: 500;
    line-height: math.div(28, 18);
    color: indigo;

	display: inline-block;
	padding: rem(11) rem(32);
    transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
            background-color: $indigo;
            color: #FFFFFF;
		}
	}
	&._fw {
		width: 100%;
	}
}